  /* Reset CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles cho phần chi tiết sản phẩm */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 1200px;
}
.stars {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;

}

.star {
    font-size: 18px;
    margin-right: -1px;
}

.star:hover {
    color: #fdd835;
}

.star.active {
    color: #fdd835;
}
.product-image {
    flex: 1;
    margin-right: 50px;
}

.product-image img {
    max-width: 600px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product-details {
    flex: 1;
}

.product-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #ff6600;
    /* Màu cam như trên Shopee */
    margin-bottom: 20px;
}

.product-description {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.buy-now-button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-button:hover {
    background-color: #e65c00;
    /* Màu hover tương tự như trên Shopee */
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.font1 {
    font-size: 18px;
}

.chiase {
    font-size: 20px;
}

.report {
    margin: 67px;
    text-decoration: none;
    color: red;
    border: none;
}

.danhgia {
    color: green;
    font-size: 15px;
}

.daban {
    color: green;
    font-size: 15px;
}
